.ProductItem p {
    color: rgb(0, 201, 27);
    font-weight: bold;
}

.ShoppingCart {
    margin-left: 5%;
    margin-right: 5%;
}

.ShoppingCart .icon {
    color: red;
    font-size: 15px;
    align-content: left;
}

.total {
    font-weight: bold;
}